* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url("https://images.unsplash.com/photo-1507721999472-8ed4421c4af2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  background-position: center;
  height: 40vh;
  padding: 100px 0px;
  text-align: center;
  position: relative;
}

.exam {
  position: absolute;
  width: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header h2,
header h3 {
  padding: 10px;
}

.exam-total {
  text-align: center;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 300;
  margin: 20px 0;
}

.exam-passed {
  background-color: rgb(40, 185, 181);
  margin-bottom: 20px;
  padding: 15px;
  height: 50px;
}

.passed-text {
  float: left;
  font-size: 15px;
  color: black;
}

.passed-count {
  float: right;
}

.passed-number {
  float: left;
}

.passed-percent {
  float: left;
  width: 35px;
  text-align: center;
  font-size: 13px;
  margin-left: 10px;
  padding: 2px;
  border-radius: 2px;
  background-color: rgb(70, 206, 201);
}

.exam-failed {
  background-color: rgb(255, 94, 129);
  margin-bottom: 20px;
  padding: 15px;
  height: 50px;
}

.failed-text {
  float: left;
  font-size: 15px;
  color: black;
}

.failed-count {
  float: right;
}

.failed-number {
  float: left;
}

.failed-percent {
  float: left;
  width: 35px;
  text-align: center;
  font-size: 13px;
  margin-left: 10px;
  padding: 2px;
  border-radius: 2px;
  background-color: rgb(252, 119, 148);
}

.input {
  padding: 15px;
  border-bottom: 1px solid rgb(223, 223, 223);
  background-color: rgb(235, 235, 235);
  padding: 10px;
}

.add-container {
  text-align: center;
  margin: 0 auto;
}

.subject {
  width: 120px;
  border: 1px solid #e7e7e7;
  height: 45px;
  font-size: 18px;
  background-color: #fff;
  margin-right: 10px;
  font-weight: 300;
  padding: 10px;
  border-radius: 5px;
}

.student-name {
  width: 330px;
  border: 1px solid #e7e7e7;
  height: 45px;
  font-size: 18px;
  background-color: #fff;
  margin-right: 10px;
  font-weight: 300;
  padding: 10px;
  border-radius: 5px;
}

.studentgrade {
  width: 120px;
  border: 1px solid #e7e7e7;
  height: 45px;
  font-size: 18px;
  background-color: #fff;
  margin-right: 10px;
  font-weight: 300;
  padding: 10px;
  border-radius: 5px;
}

.add-button {
  font-size: 38px;
  background: none;
  border: none;
  color: rgb(40, 185, 181);
  cursor: pointer;
  vertical-align: middle;
  margin-left: 10px;
}

.bottom-list {
  width: 80%;
  margin: 150px 10%;
  font-size: 14px;
}

.passed-list {
  float: left;
  width: 40%;
  margin-right: 50px;
}

h2 {
  font-weight: 300;
}

.failed-list {
  float: right;
  width: 40%;
  margin-right: 50px;
}

.error {
  background-color: none;
  color: red;
  margin: 20px auto;
  width: 500px;
}
